body form{
    font-family: Arial, Helvetica, sans-serif;  
}

body{
    padding-top: 25px;
    display: flex;
    justify-content: center;
    background: rgb(241, 241, 241);
}

.brdr{
    border-bottom:1px solid grey ;
    width: 100%;
}

form{
    background: white;
    padding: 10px 50px;
    border-radius: 10px;
    width: 20%;
    height: fit-content;    
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.486);
    
}



.name{
    width: 45%;

}

input[type="text"], [type="password"] {
    border: 1.5px solid rgb(198, 198, 198);
    border-radius:6px ;
    width: 99%;
    height: 100%;
    padding: 1px 5px;
}

input[type="text"]:focus, input[type="password"]:focus{
    outline: #1877f2 1.5px solid;
}

.textarea{
    height: 45px;
    margin: 10px 0px;
}

.ta{
    height: 1.5rem;
    margin: 10px 0px;
}

.ta-name{
    height: 45px;
    margin: 10px 0px;
    width: 47%;
}

h1, h2{
    text-align: center;
}

a{
    width: fit-content;
    height: max-content;
    text-decoration: none;
    font-size: 15px;
    margin: 5px;
}

.m10{
    margin: 10px 0px;
}

.container{
    width: 25%;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.center{
    justify-content: center;
}

#login{
    width: 100%;
    background: #1877f2;
    border: none;
    height: 3rem;
    border-radius: 6px;
    margin: 15px 0px;
    font-size: large;
    font-weight: bolder;
    color: white;
}

.signup{
    width: 100%;
    background: #00a400;
    border: none;
    height: 2rem;
    border-radius: 6px;
    margin: 15px 0px 5px 0px;
    font-weight: bolder;
    color:white;
}

select{
    width: 5rem;
    height: 2rem;
    border-radius: 6px;
    border: 1.5px rgb(198, 198, 198) solid;
}

select:focus{
    outline: #1877f2 2px solid;
}

input[type="number"]{
    height: 1.1rem;
    width: 75px;
    margin: 5px 10px;

}
.gndr{
    margin: 5px 0px 15px 0px;
}

.survey{
    width: 100%;
    background: #1877f2;
    border: none;
    height: 2rem;
    border-radius: 6px;
    margin: 0px 0px 15px 0px;
    font-weight: bolder;
    color:white;
}
.l{
    font-size: small;
    margin: 10px 0px 0px 0px;
}

.vc{
    margin-top: 10px;
}

.space-between{
    justify-content: space-between;
}